<nav>
    <div class="navBar"
        <h2 id="navTitle">WEATHER</h2>
        <div id="menu">
            <a href="/">Home</a>
            <a href="/weather">Weather</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="openMenu()">
        <i class="fa fa-bars"></i>
        </a>
    </div>
</nav>

